
.modal-lg {
    max-width: 1286px;
}

.modal {
    overflow-y:auto;
}

.modal-md {
    max-width: 1024px;
    margin: 1rem auto;
}

.modal-header {
    padding: 0.125rem;
}

.modal-footer {
    padding: 0.125rem;
}



.ui-front {
    z-index: 9999;
}

.ui-autocomplete-input {
    border: none; 
    font-size: 14px;
    height: 24px;
    margin-bottom: 5px;
    padding-top: 2px;
    border: 1px solid #DDD !important;
    padding-top: 0px !important;
    z-index: 1511;
    position: relative;
  }

  .ui-menu .ui-menu-item a {
    font-size: 12px;
  }
  
  .ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
  }
  .ui-menu-item > a.ui-corner-all {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #555555;
      white-space: nowrap;
      text-decoration: none;
  }
  .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
  }
  #modalIns{
      width: 500px;
  }

  .error {
   color : red;
  }

  .btn-cus {
    padding: 0.0212rem 0.0812rem;
  }


/* Validation Custome */
.pesan {
	display: none;
	color: red;	
	margin: 10px;
}

/* Custome Form_group */
.card .card-body {
    padding: 0.5rem;
}
.card-body .form-group, .form-group label {
    margin-bottom: 0.2rem;
}

input#v-alamat, #v-alamat-reg, #v-nama, #v-username, #v-tgl-lahir, #v-tmpt-lahir, #v-unit-kerja, #v-no-rm, #v-nama-pasien,
#v-no-telp, #v-jns-kel, #v-no-kartu, #v-hak-kelas, #v-no-rujukan, #v-no-sep, #v-poli, #v-faskes{
    outline: none;
    border: 0px solid;
    font-size: 10.5px;
}

.pesan-error {
    color: red;
}

/* span .select2-selection {
    width: 250px;
} */

select[dokterDPJP] {
    width: 100%;
}

select #kodeDPJP {
    width: 100%;
}

select[txtkodeDPJP] {
    width: 100%;
}

span .select2 .select2-container .select2-container--default .select2-container--disabled .select2-container--focus {
    width: 100%;
}

.select2-selection .select2-selection--single {
    width: 100%;
}

a.btn i.tengah {
    margin-top: 2px;
}

.card-body #mytable_wrapper{
    width: 1092px; 
}

#tgl_rujukan {
    position: relative; 
    z-index: 9999;
}

/* Scrol autocomplete */
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 200px;
}

.fixed-height {
    padding: 1px;
    max-height: 300px;
    overflow: auto;
}

.app-body .main {
    background-color: #b0bdb9;
    font-weight: 500;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #2ab388;
}

.img-verifid {
    border-radius: 4.2rem;
    max-width: 150px;
    height: auto;
}

.centering {
    display: block;
    text-align: center;
}

.img-thumb {
    border-radius: 4.2rem;
    max-width: 150px;
    max-height: 200px;
    height: auto;
}

.bg-hijau {
    background-color: #19a55e;
}

.bg-kuning {
    background-color: #ef8a22;
}

.bg-merah-muda {
    background-color: #e612af;
}

.bg-choco {
   background-color:  #5c5f63;
}

.text-box {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    /* margin-left: -10px; */
    margin-top: 10px;
    padding: 10px;
    margin-right: 100px;
    /* position: absolute; */
    top: 5px;
    left: 10px;
}

.text-box h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

#mytable tr > *:nth-child(7) {
    display: none;
}

.merah {
    background-color: crimson;
    color: whitesmoke;
}

.header-info p{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 800;
}

.icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    /* transition: all .3s linear; */
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.text-box-footer {
    padding: 0;
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
}

.text-box-footer p{
    margin-bottom: 0;
    text-align: center;
}